* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;}
    
    body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(35, 54, 35, 0.801);
    width:100%;
    min-height: 100vh;
    margin:0%;
    padding:0%;}
    
    section {
    padding: 300px 0;}
   
.container1 {
    display: flex;
    flex-wrap:wrap;
    top:600px;
    position: absolute;
    margin: auto 0;
    padding-top: 300px;}

.split1 {
    display: flex;}

    
.photo_row1, .photo_row2, .photo_row3, .photo_row4
        {width: 100%;
        padding: 5px;
        position:relative;}


@media screen and (max-width: 900px){
    body {width:50%;}
    .container1 {
        padding-top: 10px;
    }
    .split {flex-flow: column ;
        padding: 10px;}}

.overlay_text1 {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 15px;
    z-index: 3;
    color: #fff;}



    .back {
        position:fixed;
        top: 2%;
        left: 2%;
        font-size: 30px;
        transform: translate(-5%, -5%);
        color: #fff;
        text-align: center;
    z-index: 98;}
     .heading {
        text-align: center;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 4%;
        left:50%;
        color: white;
        font-size: 30px;
        z-index: 999;
        background-color:black;
        padding-left: 300px;
        padding-right: 300px;
        border-style: solid;
        border-color: black;
        background-color:black;
        border-width: 0px;
        border-radius: 0px;}

     .text {
         position:absolute;
         text-align: center;
         position: center 0;
         transform: translate(-50%, -50%);
         left:50%;
         top: 200px;
         width: 60%;
         font-size: 16px;
         color: rgba(255, 255, 255, 0.8);}


@media screen and (max-width: 900px)

        {

        .heading, .back {
        font-size: 10px;}

        .heading {
        padding-left: 30px;
        padding-right: 30px;}

        .text {
        font-size: 10px;
         top: 160px;}
        
        }


@media screen and (min-width: 900px) {
    .text {
        padding-top: 100px;
    }
}
    
    
    
