body {
    background-color: rgb(255, 255, 255);}
.container {
    position: relative;
    color: white;
    transform: translate(0%, 0%);}
.photo {
margin:auto;
position:absolute;
top: 0%;}
.text {
position: absolute;
top: 120%;
left: 5%;
font-size: 30px;
width:30%;
text-family:tittilium; }
.text1 {
position: absolute;
top: 220%;
right: 5%;
font-size: 30px;
width: 30%; }
.text2 {
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px; }  
#circle1 {
position: absolute;
top: 210%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
#circle2 {
position: absolute;
top: 230%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
#circle3 {
position: absolute;
top: 250%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
#circle4 {
position: absolute;
top: 270%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
#circle5 {
position: absolute;
top: 300%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: rgb(255, 255, 255);}
#square1 {
position: fixed;
top: 5%;
right: 3%;
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 10px;} 
#square2 {
position: fixed;
top: 12%;
right: 3%;
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 10px;} 
.text5 {
position:absolute;
top: 217%;
right: 50%;
font-size: 20px; } 
.text3 {
position:absolute;
top: 220%;
right: 50%;
font-size: 30px; } 
.text4 {
position:absolute;
top: 224%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text6 {
position:absolute;
top: 237%;
right: 50%;
font-size: 20px; } 
.text7 {
position:absolute;
top: 240%;
right: 50%;
font-size: 30px; } 
.text8 {
position:absolute;
top: 244%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text9 {
position:absolute;
top: 257%;
right: 50%;
font-size: 20px; } 
.text10 {
position:absolute;
top: 260%;
right: 50%;
font-size: 30px; } 
.text11 {
position:absolute;
top: 264%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text12 {
position:absolute;
top: 277%;
right: 50%;
font-size: 20px; } 
.text13 {
position:absolute;
top: 280%;
right: 50%;
font-size: 30px; } 
.text14 {
position:absolute;
top: 284%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text16 {
position:absolute;
top: 290%;
right: 47%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text17 {
position:fixed;
top: 40px;
left: 65px;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);
background-color: white;
width: 100px;
height: 40px;
border: 1px;
border-style: solid;
border-color: rgb(255, 255, 255);
background-color: white;
text-align: center;
padding-top: 10px;} 
.heading {
text-align: center;
display:block;
position: fixed;
right:50%;
top: 65px;
color: white;
font-size: 3vw;
transform: translate(-50%, -50%);
z-index: 2;
text-family: tittilium:}
#square3 {
position: fixed;
top: 40px;
right:50%;
width: 50%;
height: 10%;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 0px;
z-index: 1;} 
