body {
   position:relative;
   background-color: rgb(49, 56, 43);
   background-size: cover;
   background-position: center center;
   margin:5%;
@media screen and (min-width: 900px) {
 width: 100%;}
@media screen and (max-width: 900px) {
 width: 60%;}
.back {
   position:fixed;
   top: 2%;
   left: 5%;
   font-size: 30px;
   color: rgba(0, 0, 0, 0.80);
   border: 1px;
   border-style: solid;
   border-color: rgb(255, 255, 255);
   text-align: center;
   padding-top: 10px;
   padding-botom:10px;
   padding-left: 5px;
   padding-right: 5px;
   margin:0;}
.heading {
   text-align: center;
   display:block;
   position: fixed;
   right:12%;
   top:2%;
   color: white;
   font-size: 35px;
   z-index: 999;
   text-family: tittilium;
   background-color:black;
   padding-left: 30%;
   padding-right: 30%;
   border-style: solid;
   border-color: black);
   background-color:black;
   border-width: 0px;
   border-radius: 0px;
   margin:2%;}
.text1 {
    position:relative;
    top: 10%;
    left: 40%;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); }

