body {
position:relative;
background: url(IMG-1836.jpg);
background-size: contain;
background-position: center top;
background-attachment: absolute;
background-repeat: no-repeat;
background-color: rgb(255, 255, 255);
background-size: 60%;
margin:5%;}
@media screen and (min-width: 900px) {
 width: 100%;}
@media screen and (max-width: 600px) {
 width: 50%;}
.text 
{position: absolute;
top: 250px;
left: 5%;
font-size: 30px;
width: 30%;
text-family:tittilium;
color: black;
margin:1%;}
 .text1 {
position: absolute;
top: 300px;
right: 5%;
font-size: 30px;
width: 30%;
color: black;
margin:1%;}
 .text2 {
position: absolute;
top: 200px;
left: 48%;
transform: translate(-50%, -50%);
font-size: 20px;
color:black;
margin:1%;}  
 #circle1 {
position: absolute;
top: 200%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;
margin:1%}
 #circle2 {
position: absolute;
top: 220%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;
margin:1%;}
 #circle3 {
position: absolute;
top: 240%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;
margin:1%;}
 #circle4 {
position: absolute;
top: 260%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;
margin:1%;}
 #circle5 {
position: absolute;
top: 280%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color:black;
margin:1%;}
 #square1 {
position: fixed;
top: 1%;
right: 2%;
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 0.5px;} 
 #square2 {
position: fixed;
top: 5%;
right: 2%;
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 0.5px;} 
 .text5 {
position:absolute;
top: 208%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
 .text3 {
position:absolute;
top: 210%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
 .text4 {
position:absolute;
top: 214%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text6 {
position:absolute;
top: 228%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text7 {
position:absolute;
top: 230%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text8 {
position:absolute;
top: 234%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text9 {
position:absolute;
top: 248%;
right: 50%;
font-size: 20px; 
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text10 {
position:absolute;
top: 250%;
right: 50%;
font-size: 30px; 
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text11 {
position:absolute;
top: 254%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text12 {
position:absolute;
top: 268%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
.text13 {
position:absolute;
top: 270%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
 .text14 {
position:absolute;
top: 274%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80);
margin:1%;} 
 .text16 {
position:absolute;
top: 310%;
right: 31%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80);
margin:10%;} 
.text17 {
   position:fixed;
   top: 2%;
   left: 5%;
   font-size: 30px;
   color: rgba(0, 0, 0, 0.80);
   border: 1px;
   border-style: solid;
   border-color: rgb(255, 255, 255);
   background-color: white;
   text-align: center;
   padding-top: 10px;
   padding-botom:10px;
   padding-left: 5px;
   padding-right: 5px;
   margin:1%;} 
.heading {
   text-align: center;
   display:block;
   position: fixed;
   right:15%;
   top:2%;
   color: white;
   font-size: 35px;
   z-index: 999;
   text-family: tittilium;
   background-color:black;
   padding-left: 30%;
   padding-right: 30%;
   border-style: solid;
   border-color: black);
   background-color:black;
   border-width: 0px;
   border-radius: 0px;
   margin:1%;}



