body {
background-color: rgb(255, 255, 255);}
.photo {
position: absolute;
top: 5%;
right:55%;}
.text {
position: absolute;
top: 120%;
left: 5%;
font-size: 30px;
width: 40%;
text-family:tittilium;
color: black;}
 .text1 {
position: absolute;
top: 220%;
right: 5%;
font-size: 30px;
width: 40%;
color: black;}
 .text2 {
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
color:black;}  
 #circle1 {
position: absolute;
top: 300%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
 #circle2 {
position: absolute;
top: 320%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
 #circle3 {
position: absolute;
top: 340%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
 #circle4 {
position: absolute;
top: 360%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: black;}
 #circle5 {
position: absolute;
top: 380%;
right: 50%;
width: 30px;
height: 30px;
border-radius: 50%;
background-color:black;}
 #square1 {
position: fixed;
top: 5%;
right: 3%;
width: 40px;
height: 40px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 2px;} 
 #square2 {
position: fixed;
top: 12%;
right: 3%;
width: 40px;
height: 40px;
background-color: rgba(0, 0, 0, 0.986);
border-radius: 2px;} 
 .text5 {
position:absolute;
top: 308%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);} 
 .text3 {
position:absolute;
top: 310%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);} 
 .text4 {
position:absolute;
top: 316%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text6 {
position:absolute;
top: 328%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);} 
.text7 {
position:absolute;
top: 330%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);} 
.text8 {
position:absolute;
top: 336%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text9 {
position:absolute;
top: 348%;
right: 50%;
font-size: 20px; 
color: rgba(0, 0, 0, 0.80);} 
.text10 {
position:absolute;
top: 350%;
right: 50%;
font-size: 30px; 
color: rgba(0, 0, 0, 0.80);} 
.text11 {
position:absolute;
top: 356%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
.text12 {
position:absolute;
top: 368%;
right: 50%;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);} 
.text13 {
position:absolute;
top: 370%;
right: 50%;
font-size: 30px;
color: rgba(0, 0, 0, 0.80);} 
 .text14 {
position:absolute;
top: 376%;
right: 50%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
 .text16 {
position:absolute;
top: 410%;
right: 47%;
font-size: 15px;
color: rgba(0, 0, 0, 0.80); } 
 .text17 {
position:fixed;
top: 40px;
left: 65px;
font-size: 20px;
color: rgba(0, 0, 0, 0.80);
width: 100px;
height: 40px;
border: 1px;
border-style: solid;
border-color: rgb(255, 255, 255);
background-color: white;
text-align: center;
padding-top: 10px;} 
 .heading {
text-align: center;
display:block;
position: fixed;
right:55%;
top: 7%;
color: white;
font-size: 3vw;
transform: translate(-50%, -50%);
z-index: 2;
text-family: tittilium;
background-color: rgba(24, 58, 35, 0);
padding-left: 100px;
padding-right: 100px;
border-style: solid;
border-color: black);
background-color:black;
border-width: 0.05px;
border-radius: 0px;}


