* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;}
    
    body {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(127, 54, 129);
    width:100%;
    min-height: 100vh;
    margin:0%;
    padding:0%;}

    
    .back {
        position:fixed;
        top: 2%;
        left: 2%;
        font-size: 30px;
        transform: translate(-5%, -5%);
        color: #fff;
        text-align: center;
    z-index: 98;}
     .heading {
        text-align: center;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 4%;
        left:50%;
        color: white;
        font-size: 30px;
        z-index: 999;
        background-color:black;
        padding-left: 300px;
        padding-right: 300px;
        border-style: solid;
        border-color: black;
        background-color:black;
        border-width: 0px;
        border-radius: 0px;}

     .text {
         position:absolute;
         text-align: center;
         position: center 0;
         transform: translate(-50%, -50%);
         left:50%;
         top: 200px;
         width: 60%;
         font-size: 16px;
         color: rgba(255, 255, 255, 0.8);}


@media screen and (max-width: 900px)

        {

        .heading, .back {
        font-size: 10px;}

        .heading {
        padding-left: 30px;
        padding-right: 30px;}

        .text {
        font-size: 10px;
         top: 160px;}
        
        }


@media screen and (min-width: 900px) {
    .text {
        padding-top: 100px;
    }}
