body { 
    background-color: rgb(0, 0, 0)}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-underline-position: below;
    font-size: 45px;
}
.bottom-left {
    position: absolute;
    bottom: 420px;
    right: 800px;
    background-color: rgba(24, 58, 35, 0);
    color: rgba(255, 255, 255, 0.76);
    font-style: inherit;
    font-size: 26px;
}
.style {
    border-width: medium;
    border-color: lawngreen;}
.about {
    position: fixed;
    bottom: 20px;
    right: 1600px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;
}
    
.modelling {
    position: fixed;
    bottom: 20px;
    right: 1200px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;} 
.renders {
    position: fixed;
    bottom: 20px;
    right: 800px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
.sketching {
    position: fixed;
    bottom: 20px;
    right: 400px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
.hobbies {
    position: fixed;
    bottom: 20px;
    right: 55px;
    background-color: rgba(24, 58, 35, 0);
    color: hsl(0, 0%, 100%);
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
#square1 {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 
#square2 {
    position: fixed;
    top: 45px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 

