body { 
background-color: white;
background: url(MOVING%20TEMPLE%202.gif);
background-size: cover;
background-position: center center;
background-attachment: relative;}
.centered {
    position: absolute;
    right: 47%;
    bottom:30%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;}
.bottom-left {
    position:absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right:90%;
    display:block;
    bottom: 45%;
    background-color: rgba(24, 58, 35, 0);
    color: rgba(255, 255, 255, 0.76);
    font-size: 30px;}
.about {
    position: fixed;
    text-align: center;
    bottom:25%;
    right:45%;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
    
.modelling {
    position: fixed;
    text-align: center;
    bottom:20%;
    right:43%;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;} 
.renders {
    position: fixed;
    display:block;
    text-align: center;
    bottom:15%;
    right:44%;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
.sketching {
    position: fixed;
    text-align: center;
    bottom:10%;
    right:43%;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
.hobbies {
    position: fixed;
    text-align: center;
    bottom:5%;
    right:44%;
    background-color: rgba(24, 58, 35, 0);
    color: hsl(0, 0%, 100%);
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
#square1 {
    position:fixed;
    top: 1%;
    right: 2%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 1px;} 
#square2 {
    position: fixed; 
    top: 5%;
    right: 2%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 1px;} 

