body { 
    background-color: rgb(0, 0, 0);
    width: 1920px;
    height: 1050px;}

.container {
    position: relative;
    width: 1920px;
    height: 1050px;
    color: white;
    transform: translate(0%, 0%);}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-underline-position: below;
    font-size: 45px;}
.bottom-left {
    position:fixed;
    bottom: 45%;
    right: 42%;
    background-color: rgba(24, 58, 35, 0);
    color: rgba(255, 255, 255, 0.76);
    font-size: 26px;}
.style {
    border-width: medium;
    border-color: lawngreen;}
.about {
    position: fixed;
    bottom: 80px;
    right: 1750px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
    
.modelling {
    position: fixed;
    bottom: 80px;
    right: 1350px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;} 
.renders {
    position: fixed;
    bottom: 80px;
    right: 950px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
.sketching {
    position: fixed;
    bottom: 80px;
    right: 550px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
.hobbies {
    position: fixed;
    bottom: 80px;
    right: 150px;
    background-color: rgba(24, 58, 35, 0);
    color: hsl(0, 0%, 100%);
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 30px;}
#square1 {
    position:fixed;
    top: 25px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 
#square2 {
    position: fixed; 
    top: 90px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 

