body { 
background-color: white;
background: url(MOVING%20TEMPLE%202.gif);
background-size: cover;
background-position: center center;
background-attachment: relative;}
.centered {
    position: absolute;
    display:block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-underline-position: below;
    font-size: 45px;
    text-align: center;}
.bottom-left {
    position:absolute;
    text-align: center;
     transform: translate(-50%, -50%);
    right:70%;
    display:block;
    bottom: 45%;
    background-color: rgba(24, 58, 35, 0);
    color: rgba(255, 255, 255, 0.76);
    font-size: 26px;}
.about {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right:60%;
    display:block;
    bottom: 320px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
    
.modelling {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right:60%;
    display:block;
    bottom: 280px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;} 
.renders {
    position: absolute;
    display:block;
    text-align: center;
    transform: translate(-50%, -50%);
    right:60%;
    bottom: 240px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
.sketching {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right:60%;
    display:block;
    bottom: 200px;
    background-color: rgba(24, 58, 35, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
.hobbies {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    right:60%;
    display:block;
    bottom: 160px;
    background-color: rgba(24, 58, 35, 0);
    color: hsl(0, 0%, 100%);
    padding-left: 10px;
    padding-right: 10px;
    font-style: inherit;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.582);
    border-width: 0.05px;
    border-radius: 1px;
    font-size: 60px;}
#square1 {
    position:fixed;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 
#square2 {
    position: fixed; 
    top: 12%;
    right: 5%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;} 

